.app-header{
    background-color: blue;
    padding: 15px;
    color: white;
}

.header-title{
    font-size: 25px;
    margin-right: 30px;
    padding: 5px;
}

.header-items{
    font-size: 20px;
    margin-right: 20px;
    padding: 5px;
}